/* src/components/GazeTracker/GazeTracker.css */

.container {
  text-align: center;
  padding-top: 20px;
}

/* 컨트롤 영역 */
.controls {
  position: fixed;
  bottom: 20px;
  left: 50%;
  transform: translateX(-50%);
  display: flex;
  gap: 10px;
}

/* 초기 화면 instruction 영역 */

.instructions {
  max-width: 600px;
  margin: 20px auto 30px auto; /* 위, 좌우, 아래 간격 */
  padding: 10px 25px;
  border: 1px solid #e0e0e0;
  border-radius: 8px;
  background-color: #f9f9f9;
  text-align: left; /* 가독성을 위해 왼쪽 정렬 */
}

.instructions h3 {
  text-align: center; /* 제목만 중앙 정렬 */
  margin-top: 10px;
}

.instructions ul {
  padding-left: 20px;
}

.instructions li {
  margin-bottom: 10px;
}

/* 캘리브레이션 영역 */
.calibration-dot {
  position: absolute;
  width: 20px;
  height: 20px;
  background-color: red;
  border-radius: 50%;
  cursor: pointer;
  transition: all 0.2s;
}

.calibration-dot:hover {
  transform: scale(1.2);
}

/* 정확도 측정 영역 */

.validation-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 80vh;
}

.validation-container button {
  margin-top: 20px;
  padding: 12px 24px;
  font-size: 18px;
}

.validation-dot {
  width: 25px;
  height: 25px;
  background-color: #007bff; /* 파란색 */
  border-radius: 50%;
  box-shadow: 0 0 15px rgba(0, 123, 255, 0.7);
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
}

.validation-container p {
  margin-top: 100px; /* 점과 텍스트가 겹치지 않도록 */
}

/* 과제 영역 */
.task-dot {
  position: absolute;
  width: 30px;
  height: 30px;
  background-color: #28a745; /* 녹색 */
  border-radius: 50%;
  cursor: pointer;
  transition: all 0.1s;
  box-shadow: 0 0 15px rgba(40, 167, 69, 0.7);
}

.task-dot:hover {
  transform: scale(1.1);
}